<h1>Pokemons</h1>
<div class="row">
    <div class="col-md-4">
        <h4>Browse Pok&eacute;mon:</h4>
        <div class="list-group">
            {{#each model.results as |result|}} 
                {{#link-to 'pokemon' result.name classNames='list-group-item'}} 
                    {{sentence-case result.name}}
                {{/link-to}} 
            {{/each}}
        </div>
    </div>
</div>