<h1>Pokemons</h1>
<div class="row">
    <div class="col-md-4">
        <h4>Browse Pok&eacute;mon:</h4>
        <div class="list-group">
            {{#each model.results as |result|}} 
                {{#link-to 'pokemon' result.name classNames='list-group-item'}} 
                    {{sentence-case result.name}}
                {{/link-to}} 
            {{/each}}
        </div>
        <div class="btn-group">
            {{#if model.previous}}
            {{#link-to 'pokemons' model.previous classNames='btn btn-links'}}
            &lt; Previous
            {{/link-to}}
            {{/if}}
            {{#if model.next}}
            {{#link-to 'pokemons' model.next classNames='btn btn-links'}}
            Next &gt; 
            {{/link-to}}
            {{/if}}
        </div>
    </div> 
</div>